#header {
    width: 100%;
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
}
    #header nav {
        width: 30%;
        display: flex;
        justify-content: space-between;
    }

        #header nav a {
            font-family: Barlow, sans-serif;
            display: block;
            color: white;
        }
            #header nav a:hover {
                cursor: pointer;
            }

        /* #header nav a:last-child {
            font-family: Fraunces, sans-serif;
            background-color: white;
            color: black;
            padding: 1rem;
            border-radius: 2rem;
            transform: translate(0, -50%);
        } */